﻿@model WarsawUM.Threats.ViewModels.NotificationsViewModel
@{
    ViewData["Title"] = "Notifications";
}
<br />
<h4>Data from last 24 hours</h4>
<br/>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">District</th>
            <th scope="col">Event</th>
            <th scope="col">CreationDate</th>
            <th scope="col">Street</th>
            <th scope="col">Status</th>
            <th scope="col">StatusDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model.Notifications)
        {
            <tr>
                <td>@(notification.District)</td>
                <td>@(notification.Event)</td>
                <td>@(notification.CreateDate)</td>
                <td>@(notification.Street)</td>
                <td>@(notification.Status)</td>
                <td>@(notification.StatusDate)</td>
            </tr>
        }
    </tbody>
</table>
